.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    object-fit: contain;
    object-position: center;
    position: absolute;
  }

  .leaf-green {
    height: 20%;
    width: 41%;
    right: 5%;
    top: 55%;
    z-index: 2;
    animation-name: moveLeafGreen;
    transform-origin: 60px 150px;
  }

  .leaf-blue-1 {
    height: 42%;
    width: 45%;
    right: 10%;
    top: 35%;
    z-index: 1;
    animation-name: moveLeafBlue1;
    transform-origin: 60px 150px;
  }

  .leaf-blue-2 {
    height: 42%;
    width: 45%;
    left: 10%;
    top: 55%;
    animation-name: moveLeafBlue2;
    transform-origin: 200px 130px;
  }

  .leaf-green,
  .leaf-blue-1,
  .leaf-blue-2 {
    animation-duration: 2s;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.6, 1.33, 0.92, 1.3);
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }

  .flamingo {
    width: 44%;
    height: 41%;
    left: 18%;
    top: 46%;
    z-index: 3;
    transform-origin: 50% 55%;
    transform: rotate(0);
    animation: moveFlamingo 400ms cubic-bezier(.17,.67,.85,1.2), moveFlamingoEnd 2s infinite ease 1500ms alternate;
  }

  .suitcase {
    z-index: 2;
    left: 24%;
    top: 35%;
    height: 58%;
    width: 57%;
    opacity: 0;
    transform: translate(-50px, 280px) scale(0.1);
    animation-name: upSuitcase;
    animation-fill-mode: forwards;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(.17,.67,.85,1.2);
  }
}

@keyframes moveFlamingo {
  from {
    transform: translate(-50px, 280px) rotate(30deg);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes moveFlamingoEnd {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(3deg) translate(0, 15px);
  }
}

@keyframes upSuitcase {
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes moveLeafBlue1 {
  0% {
    transform: rotate(-15deg);

  }
  30% {
    opacity: 1;
    transform: rotate(10deg);
  }
  60% {
    opacity: 1;
    transform: rotate(-5deg);
  }
  85% {
    opacity: 1;
    transform: rotate(2deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes moveLeafBlue2 {
  0% {
    transform: rotate(13deg);

  }
  30% {
    opacity: 1;
    transform: rotate(-10deg);
  }
  60% {
    opacity: 1;
    transform: rotate(5deg);
  }
  85% {
    opacity: 1;
    transform: rotate(-2deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes moveLeafGreen {
  0% {
    transform: rotate(8deg);

  }
  30% {
    opacity: 1;
    transform: rotate(-6deg);
  }
  60% {
    opacity: 1;
    transform: rotate(5deg);
  }
  85% {
    opacity: 1;
    transform: rotate(-3deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}


.result__image-wrap {
  position: relative;
  width: 50%;
  height: 60%;
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
